/* Header section */ 

body {
    
    /*background-color: #9fa8a3; */ 
    background-color: #173e43;
}

.head-container {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}
h1 {
    padding: 20px;
}

/* Movie Card section */ 

#movie-card {

    width: 320px;
    padding: 65px;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    background-color: #fae596;
    
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    float: left;
    margin: 25px;
}

#new-movie-card {
    right: 413px;
    width: 320px;
    bottom: 10px;
    padding: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    background-color: #fae596;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    float: right; 
    margin: 25px;
    position: static;
}

#movie-image {
    border-radius: 7px 7px 7px 7px ;
    margin-bottom: 1px;
    
    width: 340px;
    
    
}

#new-movie-image {
    border-radius: 7px 7px 7px 7px ;
    margin-bottom: 1px;
    width: 325px;
}

#cocktail-card {
    width: 320px;
    padding: 65px;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    background-color: #fae596;
    height: 365px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    float: left;
    margin: 25px;
}

#new-cocktail-card {
    right: 413px;
    width: 320px;
    bottom: 10px;
    padding: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    background-color: #fae596;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    float: right; 
    margin: 25px;
    position: static;

}


#cocktail-image {
    border-radius: 7px 7px 7px 7px ;
    margin-bottom: 1px;
    width: 325px;
}

#new-cocktail-image {
    border-radius: 7px 7px 7px 7px ;
    margin-bottom: 1px;
    width: 325px;
    height: 250px;
}

.movie-button {
    text-decoration: none;
    background-color: #3fb0ac;
    padding: 0.5em 1em;
    border-radius: 4px;
    display: inline-block;
    color: white;
}

.dinner-button {
    text-decoration: none;
    background-color: #3fb0ac;
    padding: 0.5em 1em;
    border-radius: 4px;
    display: inline-block;
    color: white;
}


#dropdown-movie {
    text-decoration: none;
    background-color: #3fb0ac;
    padding: 0.5em 1em;
    border-radius: 4px;
    display: inline-block;
    color: white;
}

#dropdown-alc {
    text-decoration: none;
    background-color: #3fb0ac;
    padding: 0.5em 1em;
    border-radius: 4px;
    display: inline-block;
    color: white;
}

#delete-button {
    text-decoration: none;
    background-color: #3fb0ac;
    padding: 0.5em 1em;
    border-radius: 4px;
    display: inline-block;
    color: white;
}

#movie-title {
    color: black;
    padding: 5px;
    border-radius: 7px 7px 7px 7px;
}
    
#movie-genre {
    color: black;
    padding: 5px;
    border-radius: 7px 7px 7px 7px;
}

#movie-rating {
    color: black;
    padding: 5px;
    border-radius: 7px 7px 7px 7px;
}